<%= render 'shared/header' %>

<div class="index-wrap blog-wrap">
  <div class="wrap">

    <div class="visual clearfix">
      <p>주제별로 찾는 핫딜 가이드</p>
      <h2>HotDeals Guide</h2>
    </div>

    <% if current_user && current_user.admin %>
      <div class="index-amdin">
        <%= link_to 'New Theme', new_theme_path %>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
      </div>
    <% end %>

   <!--  <div class="theme-box clearfix">
      <% @themes.each do |theme| %>
        <a href="/sales/hashtag/<%= theme.t_link %>">
          <div class="card">
            <img src="<%= theme.t_image %>" alt="<%= theme.t_title %>" text="<%= theme.t_title %>">
            <div class="inner">
              <h2><%= theme.t_title %></h2>
              <p><%= theme.t_description %></p>
              <h4>by <%= theme.t_source %></h4>
              <% if current_user && current_user.admin %>
                <%= link_to 'Edit', edit_theme_path(theme) %>
                <%= link_to 'Destroy', theme, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </div>
          </div>
        </a>
      <% end %>
    </div> -->

    <div class="blog-container clearfix">
      <% @themes.each do |theme| %>
        <div class="card">
          <div class="card-header">
              <a class="to_tag" href="/sales/hashtag/<%= theme.t_link %>"><img src="<%= theme.t_image %>" alt="<%= theme.t_title %>" text="<%= theme.t_title %>"></a>
          </div>
          <div class="card-body">
            <% if current_user && current_user.admin %>
              <span>
                  <%= link_to 'Edit', edit_theme_path(theme) %>
                  <%= link_to 'Destroy', theme, method: :delete, data: { confirm: 'Are you sure?' } %>            
              </span>
            <% end %>
            <a class="to_tag" href="/sales/hashtag/<%= theme.t_link %>"><h4><%= theme.t_title %></h4></a>
            <!-- <p><%= theme.t_description %></p> -->
            <div class="card-user">
                <img src="https://images.pexels.com/photos/736716/pexels-photo-736716.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="User of Post">
                <div class="user-info">
                    <h5 >Editor</h5>
                    <small >Avenue71</small>
                </div>
            </div>
          </div>
        </div>
      <% end %>   
    </div>
    <%= raw pagy_nav(@pagy) %>

  </div>
</div>