<%= render 'shared/header' %>
<div class="index-wrap">
  <div class="wrap">

    <div class="visual clearfix">
      <p>너무나 듣고 싶은 한마디</p>
      <h2>사랑해 보다 오늘 세일해</h2>
      <%= render 'sales/categories' %>
    </div>

    <div class="product-border clearfix">
      <p class="todays_deal_title">#오늘의 50% 이상 핫딜's</p>
      <% @sales_half.each do |sale_half| %>
        <% hotdeal_pct = 0 %>
        <% hotdeal_pct =  (sale_half.s_was_price - sale_half.s_is_price) / sale_half.s_was_price * 100 %>
        
        <% if hotdeal_pct >= 50 %>
          <div class="card">
            <div class="image-box">
              <%= link_to image_tag(sale_half.s_image, alt: sale_half.s_title, title: sale_half.s_title), sale_half %>
              <% if current_user && current_user.admin %>
                <span class="updated_time"><%= time_ago_in_words(sale_half.created_at) %> ago</span>
                <span class="views_count">views: <%= sale_half.impressionist_count %></span>
              <% end %>
            </div>
            <div class="inner">
              <p class="line-break-01" data-turbolinks="false"><%= link_to sale_half.s_title, sale_half%></p>
              <span class="list_price"><%= number_to_currency(sale_half.s_was_price, locale: :kr) %>원</span>
              <span class="current_price"><%= number_to_currency(sale_half.s_is_price, locale: :kr) %>원</span>
            </div>
            <div class="pct"><p><%= number_to_percentage(hotdeal_pct, precision: 0) %> off</p></div>
          </div>
        <% end %>

      <% end %>
    </div>
  
    
  </div><!--./wrap-->
</div><!--./index-wrap->