<div class="hotdeal_form">
  <%= simple_form_for(@pick) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="basic_info">
      <%= f.input :p_image, label: "썸네일" %>
      <%= f.input :p_title, label: "메인 타이틀" %>
      <%= f.input :p_description, label: "서브 타이틀" %>
      <%= f.input :p_link, label: "featured 해시태그 링크" %>
      <%= f.input :p_hashtag, label: "해시태그" %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>