<%= render 'shared/header' %>

<div class="index-wrap">
  <div class="wrap">

    <div class="visual clearfix">
      <p>지극히 주관적으로 골라봤어.</p>
      <h2>We picked for you!!</h2>
      <!-- < render 'picks/categories' > -->
    </div>

    <div class="hashtag-visual">
      <div class="where-hashtag">
        <% if params[:name].present? %>
          <p><span class="hashtag-through">#<%= params[:name] %></span></p>
        <% end %>
      </div>
    </div>

    <% if current_user && current_user.admin %>
      <div class="index-amdin">
        <%= link_to 'New Pick', new_pick_path %>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
      </div>
    <% end %>

    <div class="blog-container clearfix">
      <% @picks.each do |pick| %>
        <div class="card">
          <div class="card-header">
              <a class="to_tag" href="/featureds/fhashtag/<%= pick.p_link %>"><img src="<%= pick.p_image %>"></a>
          </div>
          <div class="card-body">
            <span class="tag tag-teal">
              <%= render_with_phashtags(pick.p_hashtag) %>
            </span>
            <% if current_user && current_user.admin %>
              <span>
                  <%= link_to 'Edit', edit_pick_path(pick) %>
                  <%= link_to 'Destroy', pick, method: :delete, data: { confirm: 'Are you sure?' } %>            
              </span>
            <% end %>
            <a class="to_tag" href="/featureds/fhashtag/<%= pick.p_link %>"><h4><%= pick.p_title %></h4></a>
            <!-- <p><%= pick.p_description %></p> -->
            <div class="card-user">
                <img src="https://images.pexels.com/photos/736716/pexels-photo-736716.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="User of Post">
                <div class="user-info">
                    <h5 >Editor</h5>
                    <small >Avenue71</small>
                </div>
            </div>
          </div>
        </div>
      <% end %>   
    </div>
    <%= raw pagy_nav(@pagy) %>

    <div class="back_btn_mobile">
      <a href="/picks"><img class="back_btn_m" src="<%=asset_path 'back_btn.png' %>" alt="Go bact to home" /></a>
    </div>
    
  </div><!--./wrap-->
</div><!--./index-wrap->



