<%= render 'shared/header' %>

<div class="index-wrap">
  <div class="wrap">

    <div class="visual clearfix">
      <p>지극히 주관적으로 골라봤어.</p>
      <h2>We picked for you!!</h2>
      <%= render 'picks/categories' %>
    </div>

    <div class="hashtag-visual">
      <div class="where-hashtag">
        <% if params[:name].present? %>
          <p><span class="hashtag-through">#<%= params[:name] %></span></p>
        <% end %>
      </div>
    </div>

    <% if current_user && current_user.admin %>
      <div class="index-amdin">
        <%= link_to 'New Pick', new_pick_path %>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
      </div>
    <% end %>

    <div class="pick-box clearfix">
      <% @picks.each do |pick| %>
        <a href="/featureds/fhashtag/<%= pick.p_link %>">
          <div class="card">
            <img src="<%= pick.p_image%>" alt="" text="">
            <div class="inner">
              <h2><%= pick.p_title %></h2>
              <p><%= pick.p_description %></p>
              <% if current_user && current_user.admin %>
                <%= render_with_phashtags(pick.p_hashtag) %>
                <%= link_to 'Edit', edit_pick_path(pick) %>
                <%= link_to 'Destroy', pick, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </div>
          </div>
        </a>
      <% end %>
    </div>
    <%= raw pagy_nav(@pagy) %>

    <div class="back_btn_mobile">
      <a href="/picks"><img class="back_btn_m" src="<%=asset_path 'back_btn.png' %>" alt="Go bact to home" /></a>
    </div>
    
  </div><!--./wrap-->
</div><!--./index-wrap->



