<%= render 'shared/header' %>

<div class="index-wrap blog-wrap">
  <div class="wrap">

    <div class="visual clearfix">
      <p>지극히 주관적인</p>
      <h2>Editor's Picks</h2>
      <%= render 'picks/categories' %>
    </div>

    <% if current_user && current_user.admin %>
      <div class="index-amdin">
        <%= link_to 'New Pick', new_pick_path %> |
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete %> |
      </div>
    <% end %>
    
    <div class="blog-container clearfix">

     <!-- <div class="card banner">
        <div class="card-header">
            <a class="to_tag" href="/sales"><img src="https://images.unsplash.com/photo-1607083206869-4c7672e72a8a?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NHx8c2FsZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"></a>
        </div>
        <div class="card-body">
          <a class="to_tag" href="/sales"><p class="banner-title">쿠팡 50% 할인 모음</p></a>
        </div>
      </div> -->


      <!-- < render "picks/slider" > -->



      <% @picks.each do |pick| %>
        <div class="card">
          <div class="card-header">
              <a class="to_tag" href="/featureds/fhashtag/<%= pick.p_link %>"><img src="<%= pick.p_image %>"></a>
          </div>
          <div class="card-body">
            <!-- <p class="tag tag-teal"><%= pick.p_spare_01 %></p> -->
            <% if current_user && current_user.admin %>
              <p class="tag series"><%= render_with_phashtags(pick.p_hashtag) %></p>
            <% end %>
              
            <a class="to_tag" href="/featureds/fhashtag/<%= pick.p_link %>"><h4><%= pick.p_title %></h4></a>

           <!--  <div class="title_section">
              <a class="to_tag" href="/featureds/fhashtag/<%= pick.p_link %>"><em class="top_title"><%= pick.p_spare_02 %></em></a>              
              <a class="to_tag" href="/featureds/fhashtag/<%= pick.p_link %>"><em class="middle_title"><%= pick.p_spare_03 %></em></a>              
              <a class="to_tag" href="/featureds/fhashtag/<%= pick.p_link %>"><em class="bottom_title"><%= pick.p_title %></em></a>              
            </div> -->

            <!-- <p><%= pick.p_description %></p> -->
            <div class="card-user">
              <img src="<%=asset_path 'ave71.png' %>" alt="Avenue71">
              <div class="user-info">
                  <h5 >Editor</h5>
                  <small >Avenue71</small>
              </div>
              <div class="admin_management">
                <% if current_user && current_user.admin %>
                  <span>
                      <%= link_to 'Edit', edit_pick_path(pick) %>
                      <%= link_to 'Destroy', pick, method: :delete, data: { confirm: 'Are you sure?' } %>            
                  </span>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>   
    </div>
    <%= raw pagy_nav(@pagy) %>
    
  </div><!--./wrap-->
</div><!--./index-wrap-->

<%= render 'shared/footer' %>




