<div class="wrap">
  <p>
    <strong>P title:</strong>
    <%= @pick.p_title %>
  </p>


  <p>
    <strong>Category:</strong>
    Category ID: <%= @pick.category_id %>
    Category Name: <%= @pick.category.name %>
  </p>

  <%= link_to 'Edit', edit_pick_path(@pick) %> |
  <%= link_to 'Back', picks_path %>
</div>