<% if current_user && current_user.admin %>
  <div class="wrap">
    <h1>Editing Featured</h1>
    <div class="hotdeal_form">
      <%= simple_form_for(@featured) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <%= f.select :f_spare_03, ([["Object_fit:contain", ""], "Yes"])%>
        <%= f.select :f_spare_04, ([["로켓배송", ""], "Yes"])%>
        <br />
        <div class="basic_info">
          <%= f.input :f_image, label: "이미지 주소" %>
          <%= f.input :f_title, label: "상품이름" %>
          <%= f.input :f_description, label: "상품 설명" %>
          <%= f.input :f_spare_05, label: "영문이름" %>
          <%= f.input :f_link, label: "판매주소" %>
          <%= f.input :f_source, label: "판매사이트" %>
          <%= f.input :f_hashtag, label: "해시태그" %>
        </div>

        <div class="pricing clearfix">
          <%= f.input :f_is_price, label: "현재가격" %>
          <!-- <%= f.input :f_was_price, label: "세일전 가격" %> -->
          <!-- <%= f.input :f_spare_01, label: "평점" %> -->
          <div class="star_rating">
            <%= f.input :f_spare_06, label: "평점 4.5" %>
            <%= f.input :f_spare_07, label: "평점 4.0" %>
            <%= f.input :f_spare_08, label: "평점 3.5" %>
            <%= f.input :f_spare_09, label: "평점 3.0" %>
          </div>

          <%= f.input :f_spare_02, label: "리뷰 수" %>
        </div>

        <div class="form-actions">
          <%= f.button :submit %>
        </div>
      <% end %>
    </div>
    <%= link_to 'Show', @featured %> |
    <%= link_to 'Back', featureds_path %>
  </div>
<% end %>