<!-- <div class="topoftop"></div> -->
<%= render 'shared/header' %>

<div class="index-wrap">
  <div class="wrap">
    <div class="hashtag-visual">
      <div class="where-hashtag">
        <% if params[:name].present? %>
          <p><span class="hashtag-through">#<%= params[:name] %></span></p>
        <% end %>
      </div>
    </div>

    <% if current_user && current_user.admin %>
      <div class="index-amdin">
        <%= link_to 'New Feautred', new_featured_path %>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
      </div>
    <% end %>

    <div class="product-border featured-border clearfix">
      <% @featureds.each do |featured| %>
        <div class="card">
          <div class="image-box">
            <%= link_to image_tag(featured.f_image), featured %>
          </div>
          <div class="inner">
            <p class="line-break-01"><%= link_to featured.f_title, featured%></p>
              <% if featured.f_was_price.present? %>
                <span class="list_price"><%= number_to_currency(featured.f_was_price, locale: :kr) %>원</span>
              <% end %>
              <span class="current_price"><%= number_to_currency(featured.f_is_price, locale: :kr) %>원
                <% if featured.f_source.present? %>
                  <span class="source">by <%= featured.f_source %></span>
                <% else %>
                  <span class="source">by 쿠팡</span>
                <% end %>
              </span>
          </div>
        </div>
      <% end %>
    </div>
    <%= raw pagy_nav(@pagy) %>

    <div class="back_btn_mobile">
      <a href="/picks"><img class="back_btn_m" src="<%=asset_path 'back_btn.png' %>" alt="Go bact to home" /></a>
    </div>
    
  </div><!--./wrap-->
</div><!--./index-wrap->







