<div class="show-wrap">
  <div class="wrap">

    <div class="container clearfix">
      <!-- <a href="/featureds"><img class="go_back" src="<%=asset_path 'go_back.png' %>" alt="Go bact to home" /></a> -->
      <button onclick="goBack()"><img class="go_back" src="<%=asset_path 'go_back.png' %>" alt="back" /></button>
      <script>
        function goBack() {
          window.history.back();
        }
      </script>

      <div class="image-box featured-img-box clearfix">
        <% if @featured.f_spare_03.present? %>
          <div class="contain">
            <img class="main_img" src="<%= @featured.f_image %>" alt="<%= @featured.f_title %>" title="<%= @featured.f_title %>" />
          </div>
        <% else %>
          <img class="main_img" src="<%= @featured.f_image %>" alt="<%= @featured.f_title %>" title="<%= @featured.f_title %>" />
        <% end %>
      </div>

      <div class="inner clearfix">
        <div class="inner_title">
          <% if @featured.f_source.present? %>
            <span class="source">by <%= @featured.f_source %></span>
          <% else %>
            <span class="source">by 쿠팡</span>
          <% end %>

          <p class="f_title"><%= @featured.f_title %></p>
          
          <div class="star_rating">
            <% if @featured.f_spare_02.present? %>
              <% if @featured.f_spare_06.present? %>
                <img class="star_4_5" src="<%=asset_path 'star_4_5.png' %>" />
                <em><%= @featured.f_spare_02 %> +개의 상품평</em>
              <% elsif @featured.f_spare_07.present? %>
                <img class="star_4" src="<%=asset_path 'star_4.png' %>" />
                <em><%= @featured.f_spare_02 %> +개의 상품평</em>
              <% elsif @featured.f_spare_08.present? %>
                <img class="star_3_5" src="<%=asset_path 'star_3_5.png' %>" />
                <em><%= @featured.f_spare_02 %> +개의 상품평</em>
              <% elsif @featured.f_spare_09.present? %>
                <img class="star_3" src="<%=asset_path 'star_3.png' %>" />
                <em><%= @featured.f_spare_02 %> +개의 상품평</em>
              <% elsif %>
                <img class="star_5" src="<%=asset_path 'star_5.png' %>" />
                <em><%= @featured.f_spare_02 %> +개의 상품평</em>
              <% end %>
            <% end %>
          </div>


          <!-- <p class="f_title"><%= @featured.f_description %></p> -->
        </div>
        
        <div class="detail_info clearfix">
          
          <span class="is"><%= number_to_currency(@featured.f_is_price, locale: :kr) %>원</span> <!--<% if @featured.f_spare_04.present? %>with  로켓배송<% end %>-->
        

          <% if current_user && current_user.admin %>
            <div class="info-box-box clearfix">

              <% if @featured.f_source.present? %>
                <div class="info-box no-pang">
                <p>평점</p>
                <% if @featured.f_spare_01.present? %>
                  <span><%= @featured.f_spare_01 %> / 5.0</span>
                <% else %>
                  <span> - </span>
                <% end %>
                </div>
                <div class="info-box no-pang">
                  <p>리뷰</p>
                  <% if @featured.f_spare_02.present? %>
                    <span><%= @featured.f_spare_02 %> +</span>
                  <% else %>
                    <span> - </span>
                  <% end %>
                </div>
              <% else %>
                <div class="info-box">
                  <p>평점</p>
                  <% if @featured.f_spare_01.present? %>
                    <span><%= @featured.f_spare_01 %> / 5.0</span>
                  <% else %>
                    <span> - </span>
                  <% end %>
                </div>
                <div class="info-box">
                  <p>리뷰</p>
                  <% if @featured.f_spare_02.present? %>
                    <span><%= @featured.f_spare_02 %> +</span>
                  <% else %>
                    <span> - </span>
                  <% end %>
                </div>
                <div class="info-box">
                  <p>로켓배송</p>
                  <% if @featured.f_spare_04.present? %>
                    <span>YES</span>
                  <% else %>
                    <span>-</span>
                  <% end %>
                </div>
             <% end %>
            </div>
          <% end %>
 
        </div><!--./detail_info-->
      
        <!-- Button Section -->
        <div class="btn-box featured-btn-box">
          <% if @featured.f_source.present? %>
            <a class="btn" target="_blank" href="<%= @featured.f_link %>"><%= @featured.f_source %>에서 구매하기</a>
          <% else %>
            <a class="btn" target="_blank" href="<%= @featured.f_link %>">쿠팡에서 구매하기</a>
          <% end %>
        </div>

        <br />
        <div class="notice featured-notice">
          <% if @featured.f_source.present? %>
            <span>- 가격과 평점이 다른가요? <a href="/bridge/about_us">[자세히 보기]</a></span>
            <span>- "Ave71"은 상품 판매의 당사자가 아닙니다.</span>
          <% else %>
            <span>- 가격과 평점이 다른가요? <a href="/bridge/about_us">[자세히 보기]</a></span>
            <span>- "Ave71"은 상품 판매의 당사자가 아니며 파트너스 활동을 통해 일정의 수수료를 지급받아요.</span>
          <% end %>
        </div>
        <br />
        <% if current_user && current_user.admin %>
          <div class="admin">
            <p class="hashtag"><%= render_with_fhashtags(@featured.f_hashtag) %></p>
            <%= link_to 'Back', featureds_path %> | 
            <%= link_to 'Edit', edit_featured_path(@featured) %> |
            <%= link_to 'Destroy', @featured, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>

      </div><!--./inner-->
    </div><!--./container-->

  </div>
</div>





