<div class="hotdeal_form">
  <%= simple_form_for(@sale) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="basic_info">
      <%= f.input :s_title, label: "상품명" %>
      <%= f.input :s_spare_01, label: "상품 영문" %>
      <%= f.input :s_image, label: "상품 이미지" %>
      <%= f.input :s_link, label: "상품 링크" %>
      <!-- <%= f.input :s_source,  label: "판매 사이트" %> -->
      <%= f.input :s_rocket, label: "로켓배송" %>
      <%= f.input :s_hashtag, label: "해시태그[#tech, #homeware, #kitchen, #fashion, #beauty, #outdoor, #pet, #만원이하, #반값이상할인]" %>
      
    </div>
    <div class="pricing clearfix">
      <%= f.input :s_is_price, label: "현재가격" %>
      <%= f.input :s_was_price, label: "세일전 가격" %>
      <%= f.input :s_spare_02, label: "평점" %>
      <%= f.input :s_spare_03, label: "리뷰수" %>
      <%= f.input :s_pct, label: "할인율" %>

      <!-- <%= f.association :user %> -->
      <!-- <%= f.input :s_video %> -->
      <!-- <%= f.input :s_description %> -->
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>



  