<!-- <div class="topoftop"></div> -->
<%= render 'shared/header' %>
<div class="index-wrap">
  <div class="wrap">

    <div class="visual clearfix">
      <p>너무나 듣고 싶은 한마디</p>
      <h2>사랑해 보다 오늘 세일해</h2>
      <%= render 'sales/categories' %>
      <div class="extra_hash">
        <a href="/sales/hashtag/만원이하">#1만원이하</a>
        <a href="/sales/hashtag/반값이상할인">#50%이상할인</a>
      </div>
    </div>

    <% if current_user && current_user.admin %>
      <div class="index-amdin" data-turbolinks="false">
        <%= link_to 'New Sale', new_sale_path %>
        <a href="/featureds">Featured</a>
        <a href="/bridge/manage_hashtags">Manage Hashtags</a>
        <a href="/scategories">SaleCategory</a>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
      </div>
    <% end %>

    <div class="product-border clearfix">
      <% @sales.each do |sale| %>
        <div class="card">
          <div class="image-box">
            <!-- <a href="/sales/<%= sale.id %>" data-turbolinks="false"><img src="<%= sale.s_image %>" alt="<%= sale.s_title %>" title="<%= sale.s_title %>"></a> -->
            <%= link_to image_tag(sale.s_image, alt: sale.s_title, title: sale.s_title), sale %>
          </div>
          <div class="inner">
            <p class="line-break-01" data-turbolinks="false"><%= link_to sale.s_title, sale%></p>
            <span class="list_price"><%= number_to_currency(sale.s_was_price, locale: :kr) %>원</span>
            <span class="current_price"><%= number_to_currency(sale.s_is_price, locale: :kr) %>원</span>
            <% if current_user && current_user.admin %><span class="view_count">views: <%= sale.impressionist_count %></span>
                <% end %>
          </div>
            <% hotdeal_pct = 0 %>
            <% hotdeal_pct =  (sale.s_was_price - sale.s_is_price) / sale.s_was_price * 100 %>
            <div class="pct"><p><%= number_to_percentage(hotdeal_pct, precision: 0) %> off</p></div>
        </div>
      <% end %>
    </div>
    <%= raw pagy_nav(@pagy) %>
    
  </div><!--./wrap-->
</div><!--./index-wrap->
